:root{
  --color-white: #FFFFFF;    
  --color-light-grey: #9DA4BD;  
  --color-orange: #FF6C00;
}

body{
font-family: "Open Sans", sans-serif;
/*font-family: 'Raleway', sans-serif; */   
}

.list {
list-style: none;
}
.link {
text-decoration: none;
}
.header {
text-align: center;
}

.nav-list-link{
font-family: "Open Sans", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;
color: var(--color-white);
}
.nav-list-link:hover, .nav-list-link:focus{
color: var(--color-orange);
}
.navigation {
color: yellow;
}
.logo{
color: tomato;
}