:root{
  --primary-text-color-theme-dark:  #9DA4BD;
  --primary-text-color-theme-dark-alpha:  rgba(157, 164, 189, 0.6);
  --secondary-text-color-theme-dark: #FFFFFF;
  --primary-text-color-theme-light:v#555555;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #FF6C00;
  --backgr-color: #F7F7F7;
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

body{
font-family: var(--primary-font-family); 
}

.link {
text-decoration: none;
}
h1, h2, h3, h4, p{
margin-top: 0;
margin-bottom: 0;
}
ul, ol{
margin-top: 0;
margin-bottom: 0; 
padding-left: 0;
list-style: none;
}
img {
display: block;
}
address{
  font-style: normal;
}

/*========== START COMPONENTS =======================*/
.container {
width: 1170px;
margin-right: auto;
margin-left: auto;
/*padding: 0 15px;*/
}
.section {
  padding: 130px 0;
  }
.modal-btn-light, .modal-btn-dark{
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  } 
.modal-btn-light:hover, .modal-btn-light:focus{
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--accent-color);
  }
.modal-btn-dark:hover, .modal-btn-dark:focus{
    background-color: var(--accent-color);
    }

.modal-btn-dark{
  color: var(--secondary-text-color-theme-dark);
}
.modal-btn-light{
  color: var(--secondary-text-color-theme-light);
}

.section-title{
font-family: var(--secondary-font-family);
font-weight: bold;
font-size: 42px;
line-height: 1.17;
letter-spacing: 0.05em;
}
.title-theme-light{
  color: var(--secondary-text-color-theme-light);
}
.title-theme-dark{
  color: var(--secondary-text-color-theme-dark);
}
.overtitle{
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;  
  letter-spacing: 0.1em;
  text-transform: uppercase;  
  }

.overtitle-color-light{
  color: var(--secondary-text-color-theme-light);
  }
.overtitle-color-dark{
  color: var(--primary-text-color-theme-dark-alpha);
  }
    
.description{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  }

.social-links-list-link{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
  }
.social-links-list-link:hover, .social-links-list-link:focus{
  color: var(--accent-color);
  }
.social-links-list{
  display: flex;
}
.social-links-list-item:not(:last-child){
margin-right: 40px;}

.social-links-list::before {
  display: block;
  width: 60px;
  height: 1px;
  content: "";
  flex-shrink: 0;
}
/*=========== END COMPONENTS =======================*/

/*========== START HEADER =======================*/
.header{
  padding: 32px 0;
}
.header-container{
  display: flex;
  align-items: center;  
}
.navigation{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
}
.nav-list-link{
font-weight: 600;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.1em;
color: var(--secondary-text-color-theme-dark);
}
.nav-list-link:hover, .nav-list-link:focus{
color: var(--accent-color);
}
.contact-number{
  margin-left: auto;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.contact-number:hover, .contact-number:focus{
  color: var(--accent-color);
  } 
.logo{
    margin-right: 70px;
  }
.nav-list-item:not(:last-child){
  margin-right: 40px;
}
/*========== END HEADER =======================*/

/*========== START HERO =======================*/
.main-title{
margin-bottom: 20px;
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 72px;
line-height: 1.18;
letter-spacing: 0.05em;
color: var(--secondary-text-color-theme-dark); 
}
.hero-right-side{
padding-top: 272px;
padding-bottom: 206px;
padding-left: 96px;
background-image: linear-gradient( rgba(25, 28, 38, 0.2),  rgba(25, 28, 38, 0.2)), url(../images/bg-hero1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color: var(--secondary-text-color-theme-light);
flex-grow: 1;
}

/*========== END HERO =======================*/

/*==========   section Best BARBERSHOP  ======================*/
.list-images{
display: flex;
}
.best-barbershop{
display: flex;
}
.list-images-item:not(:last-child){
margin-right: 30px;
}
.best-barbershop-description{
  padding-left: 64px;
}
/*========== END section Best BARBERSHOP =======================*/

/*========== END section Price =======================*/
.bg-services{
  background-image: url(../images/bg-service.png);
  background-color: #111319;
  background-size: cover;
  background-repeat: no-repeat;
}
/*========== END section price =======================*/

/*===========  ABOUT masters  ========================*/
.masters, footer{
background-color: var(--backgr-color);
}

.masters-list{
display: flex;
justify-content: space-between;
}
.master-about{
padding-top: 30px;
text-align: center;
}
.master-name{
margin-bottom: 8px;
font-family: var(--primary-font-family);
font-size: 18px;
line-height: 1.39;
letter-spacing: 0.02em;
color: var(--secondary-text-color-theme-light);
}
/*===========  END masters  ========================*/

/*==========   section GALLERY  ======================*/
.gallery-item:not(:last-child){
margin-right: 30px;
}
/*========== END GALLERY   =======================*/


/*=========== registration  =============*/
.registration{
  display: flex;
  justify-content: space-between;
}

/*=========== END registration  =============*/

/*==========    FOOTER ======================*/
footer{
padding: 56px 0;
}
.footer{
  display: flex;
  justify-content: space-between;
}
/*.link-footer{
  display: flex;
}*/
/*========== END FOOTER    =======================*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*-----something----------*/
.bg{
  background-color: var(--secondary-text-color-theme-light);
}